<head>
  <%= stylesheet_link_tag "home" %>
</head>

<div class="row align-items-center">
  <div class="col-md-6 offset-md-3 text-center">
    <% if user_signed_in? %>
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Welcome back, <%= current_user.full_name %>!</h5>
          <p class="card-text">You can manage your shortened links and view statistics on your dashboard.</p>
          <a href="<%= new_link_path %>" class="btn btn-primary" id="get-started-btn">Shorten a new link</a>
        </div>
      </div>
    <% else %>
      <h1 class="intro-header">URL Shortener</h1>
      <p class="lead color-primary">Shorten your URLs and manage them easily with Chq.To.</p>
      <a href="<%= new_user_registration_path %>" class="btn btn-primary" id="get-started-btn">Get Started</a>  
    <% end %>
  </div>
  <% if !user_signed_in? %>
    <div class="col-md-6 offset-md-3 text-center">
      <img src="<%= image_url("illustration.png") %>" alt="Illustration" class="img-fluid max-width-100 mt-4" id="illustration-img">
    </div>
  <% end %>
</div>
