<div id="<%= dom_id link %>">
  <h4 class="card-subtitle mb-2">
    Name: <%= link.name %>
  </h4>
  <p>
    <strong>Url:</strong>
    <a href="<%= link.url %>" target="_blank"><%= link.url %></a>
  </p>

  <p>
    <strong>Shortened url:</strong>
    <a href="<%= link.url %>" target="_blank"><%= link.shortened_url(request) %></a>
  </p>

</div>